#header { position: absolute;
    background-color: red;
          color: rgb(183, 0, 255);
         text-align: center;
        width: 100%;
        height: 150px;
     top: 0px;
    left: 0px;}
     
h1{ position: absolute;
      left: 490px;
       top: 40px;
      font-family: Elephant;}  
 #menu { position: absolute;
            text-align: center;
        top:151px ;
        left: 0px;
        color: rgb(223, 16, 130);
           background-color: aqua;
           width: 100px;
          height: 1000px;} 
#ulmenu { padding-left:0px;
    list-style-type: none;}          
li{ margin: 20px;
    color: black;
      
     }  
a:link{
         text-decoration: none;}  
 a:hover{ background-color: Blue; 
     color:white;}  
a:visited{color:rgb(255, 0, 13);}
#headerimg{width: 100%}     
#body{ 
        padding:5 px;
        width:1249px;
        height: 1000px;
        color: rgb(7, 21, 206);
        position: absolute;
        top:150px;
        left:100px;}
   
#mypic{ width:300px;} 
#mango{ text-align: left;
        text-decoration: none;
        font-weight: bold;
        word-spacing: 0px;
        letter-spacing:0px;}